.container {
  background-color: silver;
}

.banner {
  height: 1200px;
}

.banner h1 {
  text-align: center;
}

.footer {
  height: 900px;
}

.footer h1 {
  text-align: center;
}

.cert-container {
  background-color: darkseagreen;
  height: 2400px;
  max-height: 2400px;
  position: relative;
  padding: 20px 0;
}

.cert-card {
  /* basic style */
  background-color: azure;
  width: 1200px;
  height: 600px;
  margin: 12px 160px;
  /* border style */
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  border-radius: 15px;
  box-shadow: -2px -2px 1px .5px silver;
  /* sticky style */
  position: sticky;
  top: 0;
  /* transform recovery */
  transition-property: all;
  /* transition-delay: .5s; */
  transition-duration: .4s;
}

.cert-card:nth-child(1) {
  translate: 0;
}

.cert-card:nth-child(2) {
  translate: 0 100px;
}

.cert-card:nth-child(3) {
  translate: 0 200px;
}

.cert-card h1 {
  text-align: center;
  margin-bottom: 24px;
  /* transform recovery */
  transition-property: all;
  /* transition-delay: .5s; */
  transition-duration: .4s;
}

.cert-card>div img {
  width: 600px;
  height: 400px;
  float: left;
}

.cert-card>div p {
  width: 50%;
  float: left;
}

.cert-card>div::after {
  content: '';
  clear: both;
  display: block;
}

.scale-90 {
  transform: scale(0.9);
}

.scale-85 {
  transform: scale(0.85);
}

.scale-80 {
  transform: scale(0.8);
}

.scale-origin-center {
  transform-origin: center;
}

.scale-origin-center-top {
  transform-origin: center top;
}

.opacity-lowest {
  opacity: 0.98;
}

.opacity-lower {
  opacity: 0.96;
}

.opacity-middle {
  opacity: 0.94;
}

.opacity-higher {
  opacity: 0.92;
}

.opacity-highest {
  opacity: 0.90;
}

.scale-transition {
  transition-property: all;
  /* transition-delay: .1s; */
  transition-duration: .4s;
}

/*
.reference {
  margin-bottom:unset
  scale:unset
  transition: scale 0.5s ease-in-out;
  scale:0.5
  opacity:0.5
  object-fit:scale-down

  transition: 0.8s ease-in-out;
  transition-property:scale, font-size, padding, line-height
} */
